$DarkCerulean: #0A4B70;
$AlizarinCrimson: #E31D39;
$Black: #000000;
$White: #FFFFFF;
$AliceBlue: #F4F8FF;
$transition: 0.3s ease;
$QuickSilver: #A4A4A4;
$Sliderdotscolor: rgba(164, 164, 164, 0.5);
$ContactformBorder: rgba(10, 75, 112, 0.50);
$Lavender: #E8F0FB;

.owl-carousel {
    .owl-dots {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        column-gap: 5px;

        .owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: $Sliderdotscolor;
            &.active {
                background-color: $AlizarinCrimson;
            }
        }
    }

    .owl-carousel {
        .owl-dots {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            column-gap: 5px;

            .owl-dot {
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background-color: $Sliderdotscolor;
                &.active {
                    background-color: $AlizarinCrimson;
                }
            }
        }
    }
}

.red-lable-btn {
    padding: 13px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    border-radius: 50px;
    background-color: #F9D2D7;
    color: #951426;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
}

.back-button-wrp {
    button.go-back-btn {
        border: none;
        outline: none;
        width: 80px;
        background-color: $DarkCerulean;
        color: $AliceBlue;
        padding: 10px 10px;
        border-radius: 60px;
        transition: $transition;

        &:hover {
            background-color: $AlizarinCrimson;
            color: $AliceBlue;
        }
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 16px;
    li {
        padding: 0px 5px 0px 0px;
        font-size: 15px;
        color: $Black;
        text-transform: capitalize;
        &:not(:last-child) {
            &::after {
                content: '/';
                width: 5px;
                margin-left: 5px;
                color: $QuickSilver;
            }
            a {
                color: $QuickSilver;
                &:hover {
                    color: $AlizarinCrimson;
                }
            }
        }
        &:last-child {
            padding-left: 0px;
        }
        &:first-child {
            padding-left: 0px;
        }
    }
}

.btn-blue {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 110%;
    background-color: $DarkCerulean;
    color: $White;
    border: 1px solid transparent;
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    &:hover {
        border-color: $DarkCerulean;
        color: $DarkCerulean;
    }
}
.btn-red {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 110%;
    background-color: $AlizarinCrimson;
    color: $White;
    border: 1px solid transparent;
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    &:hover {
        border-color: $AlizarinCrimson;
        color: $AlizarinCrimson;
    }
}

footer {
    margin-top: 80px;
    padding-top: 80px;
    background-color: $Lavender;
    border-radius: 50px 50px 0 0;
    .footer-wrp {
        padding-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        .left-col {
            .footer-logo-col {
                .logo {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    column-gap: 40px;
                    img {
                        max-width: 60px;
                        width: 100%;
                    }
                    h4 {
                        font-size: 35px;
                        font-weight: 600;
                        color: $DarkCerulean;
                    }
                    p {
                        font-size: 18px;
                        color: $QuickSilver;
                        line-height: 150%;
                        max-width: 450px;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                ul {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    li {
                        max-width: 30px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .middle-col {
            .site-links {
                h5 {
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    line-height: 120%;
                    color: $Black;
                    padding-bottom: 30px;
                }
                ul {
                    li {
                        &:not(:last-child) {
                            padding-bottom: 10px;
                        }
                        a {
                            font-size: 16px;
                            line-height: 110%;
                            font-weight: 400;
                            text-transform: capitalize;
                            color: $QuickSilver;
                            &:hover {
                                color: $AlizarinCrimson;
                            }
                        }
                    }
                }
            }
        }
        .right-col {
            .contact-info {
                h5 {
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    line-height: 120%;
                    color: $Black;
                    padding-bottom: 30px;
                }
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        column-gap: 15px;
                        &:not(:last-child) {
                            padding-bottom: 20px;
                        }
                        img {
                            max-width: 20px;
                        }
                        a {
                            font-size: 16px;
                            line-height: 110%;
                            font-weight: 400;
                            text-transform: capitalize;
                            color: $QuickSilver;
                            &:hover {
                                color: $AlizarinCrimson;
                            }
                        }
                    }
                }
            }
        }
    }
    .privacy-policies {
        background-color: #E1E9F6;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        a {
            display: inline-block;
            margin: 0 auto;
            font-size: 16px;
            line-height: 110%;
            font-weight: 300;
            text-align: center;
            color: $QuickSilver;
            &:hover {
                color: $Black;
            }
        }
    }
}