$DarkCerulean: #0a4b70;
$AlizarinCrimson: #e31d39;
$Black: #000000;
$White: #ffffff;
$AliceBlue: #f4f8ff;
$transition: 0.3s ease;
$QuickSilver: #a4a4a4;
$Sliderdotscolor: rgba(164, 164, 164, 0.5);

.custom_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  button {
    background-color: $DarkCerulean;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: none;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: $AlizarinCrimson;
    }
    &.disable {
      opacity: 0.2;
      &:hover {
        background-color: $DarkCerulean;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;

    .ellipsis {
      height: 35px;
      width: 35px;
      background-color: $White;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      height: 35px;
      width: 35px;
      background-color: $White;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $Black;
      font-weight: 500;
      user-select: none;

      &.active {
        background-color: $DarkCerulean;
        color: $White;
        font-weight: 500;
      }

      span {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: inherit;
        user-select: none;
      }
    }
  }
}